/* Saria 웹 폰트 */
@import url(https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,500;0,600;1,400&display=swap);

:root {
  --color_orange: #ffa41b;
  --color_lightOrange: #ffd18b;
  --color_skyBlue: #9ac5f4;
  --color_yellow: #fee500;
  --color_green: #2db400;
  --font_saria: Saira;
  --color_beige: #f5f5dc;
}

.MyWayListTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  height: 60px;
  background-color: var(--color_orange);
  font-family: var(--font_saria);
}

.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.justify-center {
  justify-content: center;
}
.justify-space-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}

.myway-title-text {
  text-align: center;
  font-weight: bolder;
}

.myway-contentsbox {
  height: 195px;
  background-color: var(--color_beige);
  overflow-y: auto;
}

.myway-detail-contentsbox-title {
  margin: 2px;
}

.myway-detail-contentsbox-title-index {
  width: 10%;
}

.myway-detail-contentsbox-title-wayname {
  width: 40%;
}

.myway-detail-contentsbox-title-traffic {
  width: 20%;
}

.myway-detail-contentsbox-title-duration {
  width: 30%;
}

.myway-detail-contentsbox-contents-index {
  width: 10%;
  padding-left: 10px;
}

.myway-detail-contentsbox-contents-wayname {
  width: 40%;
}

.myway-detail-contentsbox-contents-traffic {
  width: 20%;
  color: #FFF;
  text-shadow: 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000, 0px -1px #000, 0px 1px #000, 1px 0px #000, -1px 0px #000;
  border-radius: 999px;
  border-color:#FFF;
  border-style: solid;
  border-width: 1px;
}

.myway-detail-contentsbox-contents-duration {
  width: 30%;
  text-align: right;
  padding-right: 10px;
}

.myway-component-contents-index{
  width: 12.5%;
}
.myway-component-contents-wayname{
  width: 62.5%;
}
.myway-component-contents-button{
  width: 25%;
}
.myway-title-return-button{
  box-sizing: border-box;
  font-size: x-large;
  font-weight: bolder;
  border: 1px solid var(--color_orange);
  background-color: var(--color_orange);
}
.myway-title-return-button:hover{
  border: 1px solid #000;
}
.myway-title-return-button:active{
  color:#FFF;
  border-color: #fff;
  background-color: var(--color_lightOrange);
}