/* Saria 웹 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,500;0,600;1,400&display=swap');

:root {
  --color_orange: #ffa41b;
  --color_lightOrange: #ffd18b;
  --color_skyBlue: #9ac5f4;
  --color_yellow: #fee500;
  --color_green: #2db400;
  --font_saria: 'Saira';
}

/* 카카오 지도 초기 사이즈 */
.MapNormalSize {
  width: 100%;
  height: 600px;
}

/* UI 숨기기를 통해 MyWayList가 숨겨졌을 경우 지도 사이즈 */
.MapLongSize {
  width: 100%;
  height: 792px;
}

.MyWayListTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  height: 60px;
  background-color: var(--color_orange);
  font-family: var(--font_saria);
}

.Modal {
  margin: auto;
  width: 80%;
  height: 200px;
  background-color: beige;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
}

.SearchBoxWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 200px;
  padding: 30px 0px;
  background-color: var(--color_lightOrange);
}

.WayPointHiddenButton {
  width: 30px;
  height: 30px;
  border: 1px solid red;
}

.WayPointPlusButton {
  width: 30px;
  height: 30px;
  font-size: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.FlexRowBetween {
  width: 100%;
  padding: 0px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.SearchBoxText {
  font-size: 16px;
}

.SearchBar {
  flex-grow: 1;
}

.SaveWayModal {
  margin: auto;
  width: 80%;
  height: 126px;
  background-color: beige;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
  font-family: var(--font_saria);
  font-weight: 600;
}

.timer {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  font-weight: 700;
}

.timerImg {
  width: 30px;
  height: 30px;
}

.MyWayDetail-SaveButton {
  border-radius: 5px;
  padding: 10px;
  font-weight: bolder;
  border: 1px solid #000;
  background: #f9a825;
  box-shadow: -2px -2px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.MyWayDetail-SaveButton:active {
  background: #df8a00;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25) inset;
}
